<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>D.N.I.</string>
	<string>Carnet Extranjería</string>
	<string>Carnet Militar/Policial</string>
	<string>Lib.Adolesc.Trab.</string>
	<string>Pasaporte</string>
</array>
</plist>
